-# This file is in app/views/movies/edit.html.haml

%h2 Wijzigen Bedrijfsinfo

= form_tag company_path(@company), :method => :put do

	= render :partial => 'company_form'
	
	= submit_tag 'Wijzigingen Opslaan'
	
-#= link_to "Back to movie list", movies_path


