-# This file is in app/views/movies/index.html.haml
= link_to "Bedrijf toevoegen" , new_company_path, class: 'btn btn-succes'			
%h3 Alle Bedrijven

%table{:class => 'table-class table-condensed table-bordered'}
	%thead 
		%tr 
			%th{:class => @name_class}= link_to "Naam", companies_path()+"/sort/name", :id => "name_header"
			%th{:class => @city_class}= link_to "Woonplaats", companies_path()+"/sort/city", :id => "city_header"
			%th{:class => @Abn_class}= link_to "Abn", companies_path()+"/sort/Abn", :id => "Abn_header"
			%th Ecabo
	%tbody
		-#debugger
		=render :partial=>'company', :collection=>@companies


